{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col">
            <h2 class="fs-3 fw-normal text-center text-dark">Selwyn Campground - Camper List</h2>
        </div>
    </div>

    <!--Check if campers exist in the camperlist-->
    {% if camperlist %}

    <form action="/campers" method="POST">
        <!--Display campers in table-->
        <div class="row justify-content-center mb-3">
            <div class="col-8 text-center">
                <p class="fs-5">Bookings on {{ campdate }}</p>
                <table class="table table-default table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Campsite</th>
                            <th>Customer Name</th>
                            <th>Occupancy</th>
                        </tr>
                    </thead>
                    <!-- Insert code to loop over the list of campers and display them -->
                    {% for campers in camperlist %}
                    <tr>
                        <td>{{ campers[1] }}</td>
                        <td>{{ campers[8] }} {{ campers[9] }}</td>
                        <td>{{ campers[4] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </form>
    {% else %}
    <p class="row justify-content-center fs-6 fw-normal">There is no booking for the selected date</p>
    {% endif %}

    {% endblock %}
</div>