{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col">
            <h1 class="fs-3 fw-normal text-center text-dark">Selwyn Campground - Camper List</h1>
        </div>
    </div>

    <!--Check if campers exist in the camperlist-->
    {% if camperlist %}

    <form action="/campers" method="POST">
        <!--Display campers in table-->
        <div class="row justify-content-center mb-3">
            <div class="col-10 text-center">
                <table class="table table-default table-hover table-bordered caption-top mt-2">
                    <caption>Bookings on {{ campdate }}</caption>
                    <thead>
                        <tr>
                            <th>Campsite</th>
                            <th>Customer Name</th>
                            <th>Occupancy</th>
                        </tr>
                    </thead>
                    <!-- Display site, name and occupancy by index -->
                    <tbody>
                        {% for campers in camperlist %}
                        <tr>
                            <td>{{ campers[1] }}</td>
                            <td>{{ campers[8] }} {{ campers[9] }}</td>
                            <td>{{ campers[4] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-2 mb-5">
            <a href="{{ url_for('campers')}}" class="btn btn-outline-primary col-auto">Check other dates</a>
        </div>
    </form>
    {% else %}
    <div class="row justify-content-center">
        <p class="fs-6 fw-normal text-center">There is no booking for the selected date</p>
        <a href="{{ url_for('campers')}}" class="btn btn-outline-primary mt-2 col-auto">Check other dates</a>
    </div>
    {% endif %}
</div>
{% endblock %}