{% extends "base.html" %}
{% block content %}
<!-- code in here to display the date-->
<div class="container">
    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col">
            <h1 class="fs-3 fw-normal text-center">Choose the date you'd like view who is camping</h1>
        </div>
    </div>
    <form action="{{ url_for('campers') }}" method="POST" class="needs-validation" novalidate>
        <div class="row justify-content-center mb-3 g-2">
            <div class="col-4">
                <!-- Choose a date to view campers -->
                <input class="form-control" type="date" value="{{currentdate}}" name="campdate" min="1000-01-01"
                    max="9999-12-31" required>
                <div class="invalid-feedback">
                    Please select a date
                </div>
            </div>
            <div class="col-2">
                <input class="btn btn-success" type="submit" />
            </div>
        </div>
    </form>
</div>
{% endblock %}