{% extends "base.html" %}
{% block content %}
<!-- code in here to display a booking page-->
<div class="container">
    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col">
            <h1 class="fs-3 fw-normal text-center text-dark">Selwyn Campground - Make a booking</h1>
        </div>
    </div>
    <form action="{{url_for('booking')}}" method="POST" class="needs-validation" novalidate>
        <div class="row justify-content-center p-0 mb-3">
            <div class="col-md-6">
                <label class="form-label" for="bookingdate">Choose start night of booking</label>
                <!-- Choose start booking date -->
                <input class="form-control" type="date" min="{{currentdate}}" value="{{currentdate}}"
                    name="bookingdate" />
            </div>
        </div>
        <div class="row justify-content-center p-0 mb-4">
            <div class="col-md-3">
                <label class="form-label" for="bookingnights">Number of nights<span class="fs-6 fw-light"> (Max
                        5)</span></label>
                <!-- Choose stay nights -->
                <input class="form-control" type="number" name="bookingnights" min="1" max="5" step="1" value="1" />
                <div class="invalid-feedback">
                    Please enter a number between 1 - 5
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="occupancy">Number of people<span class="fs-6 fw-light"> (Max
                        8)</span></label>
                <!-- Choose number of guests -->
                <input class="form-control" type="number" name="occupancy" min="1" max="8" step="1" value="1" />
                <div class="invalid-feedback">
                    Please enter a number between 1 - 8
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-3 mx-auto">
            <input class="btn btn-success" type="submit" value="Submit" />
        </div>
    </form>
</div>
{% endblock %}