{% extends "base.html" %}
{% block content %}

<!--Check if matched_customers exist-->
{% if matched_customers %}
    <h3>Matched Customers</h3>
    <!--Display customers in table-->
    <table class="table table-defult table-hover">
        <tr>
            <th>First Name</th>
            <th>Family Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
        {% for customer in matched_customers %}
        <tr>
            <td>{{ customer[1] }}</td>
            <td>{{ customer[2] }}</td>
            <td>{{ customer[3] }}</td>
            <td>{{ customer[4] }}</td> 
            <!--Create a button for edit so user can edit from this path as well-->
            <td><button><a href="{{ url_for('edit_customer', customer_id = customer[0]) }}">Edit</a></button></td>        
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Customer not found</p>
{% endif %}

{% endblock %}