{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col">
            <h2 class="fs-3 fw-normal text-center text-dark">Selwyn Campground - Search Customer</h2>
        </div>
    </div>

    <form action="{{ url_for('search_customer')}}" class="needs-validation" novalidate>
        <!--Prompt user search by Name or Phone-->
        <div class="row justify-content-center mb-3 g-2">
            <div class="col-4">
                <!-- Only allow letters or numbers -->
                <input class="form-control" type="text" name="search_customer" pattern="[A-Za-z]*|[0-9]*"
                    placeholder="Name or Phone" required>
                <div class="invalid-feedback">
                    Please enter letters (a-z,A-Z) or numbers only
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 col-1 mx-auto">
            <input class="btn btn-warning" type="submit" value="Search">
        </div>
    </form>
</div>
{% endblock %}