{% extends "base.html" %}
{% block content %}

<div class="container text-center mt-5">
    <p class="fs-4 fw-normal mb-4">The customer's information has been updated.</p>
    <div class="row justify-content-center mb-3">
        <div class="col-8 text-center">
            <table class="table table-default table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Display the customer's updated information -->
                        <td>{{ update_customer[1] }} {{ update_customer[2] }}</td>
                        <td>{{ update_customer[3] }}</td>
                        <td>{{ update_customer[4] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="{{ url_for('search_customer')}}" class="btn btn-outline-primary mt-2">Go Back</a>
</div>

{% endblock %}